<h2>Jumbotron</h2>
<p>A lightweight, flexible component that can optionally extend the entire viewport to showcase key marketing messages on your site.</p>

<h3>Jumbotron</h3>
<div class="jumbotron">
  <h1 class="display-4">Jumbotron</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p class="lead">It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-lg btn-primary" href="#" role="button">Learn More &raquo;</a>
</div>

<h3>Full-width Jumbotron</h3>
<p>jumbotron occupies the entire horizontal space of its parent.</p>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Jumbotron</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p class="lead">It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-lg btn-primary" href="#" role="button">Learn More &raquo;</a>
  </div>
</div>

<h3>Jumbotron alignment</h3>
<p>Use .text-left, .text-right, .text-center</p>
<div class="jumbotron text-right">
  <h1 class="display-4">Jumbotron</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p class="lead">It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-lg btn-primary" href="#" role="button">Learn More &raquo;</a>
</div>


<h3>Jumbotron tag</h3>
<p>Use div or section</p>
<section class="jumbotron">
  <h1 class="display-4">Jumbotron</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p class="lead">It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-lg btn-primary" href="#" role="button">Learn More &raquo;</a>
</section>
