<!-- require clipboard.js-->
<!-- please use javascript to approach advanced usage -->

<!-- Target -->
<input id="clipboard-copy" value="https://github.com/zenorocha/clipboard.js.git">
<!-- Trigger -->
<button class="btn-clipboard" data-clipboard-target="#clipboard-copy">
    Copy to clipboard
    <img width="16" src="/img/clippy.svg" alt="Copy to clipboard">
</button>

<!-- copy from element's data-clipboard-text attribute -->
<!-- Trigger&Target -->
<button class="btn-clipboard" data-clipboard-text="Just because you can doesn't mean you should — clipboard.js">
    Copy to clipboard
</button>