<!-- require clipboard.js -->
<!-- copy from another element -->
<!-- Target -->
<input id="foo" value="https://github.com/zenorocha/clipboard.js.git">

<!-- Trigger -->
<button class="btn-clipboard" data-clipboard-target="#foo">
    Copy to clipboard
    <!-- <img src="/img/clippy.svg" alt="Copy to clipboard"> -->
</button>

<!-- copy from element's data-clipboard-text attribute -->
<!-- Trigger -->
<button class="btn-clipboard" data-clipboard-text="Just because you can doesn't mean you should — clipboard.js">
    Copy to clipboard
</button>