<h2>Tooltips</h2>

<h3>Button Tooltip</h3>
<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="I'm tips content">Hover me to show tips</button>

<h3>Link Tooltip</h3>
<a href="#" data-toggle="tooltip" data-placement="top" title="I'm tips content">Hover me to show tips</a>

<h3>Disabled Element Tooltip</h3>
<span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="bottom" title="Disabled tooltip">
  <button class="btn btn-primary" style="pointer-events: none;" type="button" disabled>Disabled button</button>
</span>
