<pre class="code-snippet">
  <!-- clipboard trigger button -->
  <button class="clipboard-trigger" data-clipboard-snippet><img class="clippy" width="13" src="/img/clippy.svg" alt="Copy to clipboard"></button>
  <!-- clipboard target element(set by javascript) -->
  <code class="html hljs xml"><span class="hljs-comment">&lt;!-- Trigger --&gt;</span><span class="hljs-tag">&lt;<span class="hljs-title">button</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"btn"</span> <span class="hljs-attribute">data-clipboard-text</span>=<span class="hljs-value">"Just because you can doesn't mean you should — clipboard.js"</span>&gt;</span>
    Copy to clipboard<span class="hljs-tag">&lt;/<span class="hljs-title">button</span>&gt;</span>
  </code>
</pre>