<!-- <pre class="code-snippet">
  <button class="btn" data-clipboard-snippet><img class="clippy" width="13" src="assets/images/clippy.svg" alt="Copy to clipboard"></button>
  
  <code class="language-js" data-lang="js"><span class="nx">$</span><span class="p">(</span><span class="s1">'#element'</span><span class="p">).</span><span class="nx">tooltip</span><span class="p">(</span><span class="s1">'hide'</span><span class="p">)</span></code>
</pre> -->

<!-- <div class="bd-clipboard">
  <button class="btn-clipboard" data-toggle="tooltip" data-placement="top" data-clipboard-target="#code-id" title="Copy to clipboard">Copy</button>
</div>
<figure class="highlight">
  <pre id="code-id"><code class="language-js" data-lang="js"><span class="nx">$</span><span class="p">(</span><span class="s1">'#element'</span><span class="p">).</span><span class="nx">tooltip</span><span class="p">(</span><span class="s1">'hide'</span><span class="p">)</span></code>
  </pre>
</figure> -->