{% extends "base.html" %}
{% block header %}
    {% include "partials/gallery-header.html" %}
{% endblock %}
{% block static %}
    <link href="/css/gallery.css" rel="stylesheet">
{% endblock %}
{% block main %}
      
      {% include "partials/jumbotron.html" %}

      <div class="container">
        <h1 class="my-4 text-center text-lg-left">Thumbnail Gallery</h1>
        <div class="row text-center text-lg-left">
        
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" data-src="holder.js/400px300?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100">
               <img class="img-fluid img-thumbnail" data-src="holder.js/400px300?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100">
               <img class="img-fluid img-thumbnail" data-src="holder.js/400px300?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100">
               <img class="img-fluid img-thumbnail" data-src="holder.js/400px300?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100">
               <img class="img-fluid img-thumbnail" data-src="holder.js/400px300?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100">
               <img class="img-fluid img-thumbnail" data-src="holder.js/400px300?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100">
               <img class="img-fluid img-thumbnail" data-src="holder.js/400px300?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100">
               <img class="img-fluid img-thumbnail" data-src="holder.js/400px300?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100">
               <img class="img-fluid img-thumbnail" data-src="holder.js/400px300?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100">
               <img class="img-fluid img-thumbnail" data-src="holder.js/400px300?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100">
               <img class="img-fluid img-thumbnail" data-src="holder.js/400px300?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100">
               <img class="img-fluid img-thumbnail" data-src="holder.js/400px300?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="">
            </a>
          </div>
        </div>
      </div>
{% endblock %}
