{% if nav.direction == "horizontal" %}
  {% set vertical_class = "" %}

  {% if nav.alignment == "left" %}
    {% set alignment = "justify-content-start" %}
  {% elif nav.alignment == "right" %}
    {% set alignment = "justify-content-end" %}
  {% elif nav.alignment == "center" %}
    {% set alignment = "justify-content-center" %}
  {% else %}
    {% set alignment = "" %}
  {% endif %}

  {% if nav.extend == "fill" %}
    {% set extend = "nav-fill" %}
  {% elif nav.extend == "justified" %}
    {% set extend = "nav-justified" %}
  {% else %}
    {% set extend = "" %}
  {% endif %}

  {% if nav.breakpoint %}
    {% set nav_bk = ("flex-column flex-%s-row"|format(nav.breakpoint)) %}
    {% set item_bk = ("flex-%s-fill text-%s-center"|format(nav.breakpoint, nav.breakpoint)) %}
  {% else %}
    {% set nav_bk = "" %}
    {% set item_bk = "" %}
  {% endif %}
{% else %}
  {% set vertical_class = "flex-column" %}
  {% set alignment = "" %}
  {% set extend = "" %}
  {% set nav_bk = "" %}
  {% set item_bk = "" %}
{% endif %}

{% if nav.mode == "tab" %}
  {% set mode = "nav-tabs" %}
{% elif nav.mode == "pill" %}
  {% set mode = "nav-pills" %}
{% else %}
  {% set mode = "" %}
{% endif %}

{% set tag = "nav" if nav.tag == "nav" else "ul" %}

<{{tag}} class="nav {{ vertical_class }} {{ mode }} {{ alignment }} {{ extend }} {{ nav_bk }}">

{% if tag == "ul" %}
  <li class="nav-item {{ item_bk }}">
    <a class="nav-link active" href="#">Active</a>
  </li>
{% else %}
  <a class="nav-item nav-link active  {{ item_bk }}" href="#">Active</a>
{% endif %}

{% if tag == "ul" %}
  <li class="nav-item {{ item_bk }}">
    <a class="nav-link" href="#">Link</a>
  </li>
{% else %}
  <a class="nav-item nav-link {{ item_bk }}" href="#">Link</a>
{% endif %}

{% if tag == "ul" %}
  <li class="nav-item {{ item_bk }}">
    <a class="nav-link" href="#">Link</a>
  </li>
{% else %}
  <a class="nav-item nav-link {{ item_bk }}" href="#">Link</a>
{% endif %}

{% if tag == "ul" %}
  <li class="nav-item {{ item_bk }}">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
{% else %}
  <a class="nav-item nav-link disabled {{ item_bk }}" href="#">Disabled</a>
{% endif %}

</{{tag}}>