body {
  min-height: 75rem;
}

#page-footer>div:first-child {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#page-footer>div:first-child p {
    margin-bottom: .25rem;  
}

#page-footer>div:first-child p:last-child {
    margin-bottom: 0;  
}

/* clipboard svg img within button */
.btn .clippy {
    margin-top: -3px;
    position: relative;
    top: 3px;
}
.btn[disabled] .clippy{
    opacity:.3
}

/* code snippet */
.code-snippet {
    font: 12px Consolas,liberation mono,Menlo,Courier,monospace;
    position: relative;
    overflow: visible;
}
.code-snippet code {
    font-size: 14px;
    line-height: 20px;
    background-color:#e8f5f2;
    border-radius:3px;
    color:#1bc1a1;
    font-size:85%;
    margin:0;
    padding:.2em
}
/* clipboard trigger button of code snippet */
.code-snippet .clipboard-trigger {
    -webkit-transition:opacity .3s ease-in-out;
    -o-transition:opacity .3s ease-in-out;
    transition:opacity .3s ease-in-out;
    opacity:0;
    padding:2px 6px;
    position:absolute;
    right:4px;
    top:4px
}
.code-snippet:hover .clipboard-trigger,.code-snippet .clipboard-trigger:focus{
    opacity:1
}
@media screen and (max-width:768px){
    .code-snippet .clipboard-trigger{
        opacity:1
    }
}

/* example panel */
.example{
    position:relative;
    margin:15px 0 0;
    padding:39px 19px 14px;
    background-color:#fff;
    border-radius:4px 4px 0 0;
    border:1px solid #ddd;
    z-index:2
}
.example p{
    color:#666
}
.example:after{
    content:"Example";
    position:absolute;
    top:0;
    left:0;
    padding:2px 8px;
    font-size:12px;
    font-weight:700;
    background-color:#f5f5f5;
    color:#9da0a4;
    border-radius:4px 0 4px 0
}
/* code snippet follows example panel */
.example+.code-snippet{
    background:#f8f8f8;
    border-radius:4px;
    border:1px solid #ddd;
    clear:both;
    top:-20px;
    padding:20px 0 0
}
.example+.code-snippet .clipboard-trigger{
    top:22px;
    right:2px
}


/* the copy button for code snippets */
/*.code-snippet {
    
}
.bd-clipboard {
  position: relative;
  display: none;
  float: right;
}
.bd-clipboard + .highlight {
  margin-top: 0;
}
.btn-clipboard {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 10;
  display: block;
  padding: 0.25rem 0.5rem;
  font-size: 75%;
  color: #818a91;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  border-radius: 0.25rem;
}
.btn-clipboard:hover {
  color: #fff;
  background-color: #027de7;
}
@media (min-width: 768px) {
  .bd-clipboard {
    display: block;
  }
}*/

/* code snippets style 
.highlight {
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #f8f9fa;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.highlight pre {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-color: transparent;
  border: 0;
}

.highlight pre code {
  font-size: inherit;
}*/