<h2>Popover</h2>

<h3> Toggle Popover</h3>
<!-- Button toggle popover -->
<button type="button" class="btn btn-primary popover-toggle" data-toggle="popover" data-placement="top" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Toggle Popover</button>

<h3>Dismissible Popover</h3>
<!-- Use the focus trigger to dismiss popovers on the user’s next click of a different element than the toggle element. -->
<a tabindex="0" class="btn btn-primary popover-dismiss" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="Dismissible popover" data-content="And here's some amazing content. It's very engaging. Right?">Dismissible Popover</a>