{% extends "base.html" %}
{% block main %}
  <div class="container">
    {% include "partials/jumbotron/base.html" %}
  </div>
  
  {#
  <div class="container">
    {% include "partials/popover/toggle.html" %}
    {% include "partials/popover/dismiss.html" %}
  </div>
  <div class="container">
      {% include "partials/breadcrumb.html" %}
  </div>
  <div class="container">
     {% include "partials/carousel.html" %}
  </div>
  <div class="container">
    {% include "partials/card/base.html" %}
  </div>
  <div class="container">
    <p>{% include "partials/clipboard/copy.html" %}</p>
    <p>{% include "partials/clipboard/cut.html" %}</p>
  </div>
  <div class="container">
    {%  include "partials/list/base.html" %}
  </div>
  <div class="container">
    <h3>Tooltips</h3>
    {%  include "partials/tooltip/link.html" %}
    {%  include "partials/tooltip/button.html" %}
    {%  include "partials/tooltip/disabled.html" %}
  </div>
  <div class="container">
    {% include "partials/code-snippet.html" %}
  </div>
  <div class="container">
    {% include "partials/example-panel.html" %}
  </div>
  <div class="container">
    {% include "partials/embed/iframe.html" %}
  </div>
  <div class="container">
    {% include "partials/modal/yes-or-no.html" %}
    {% include "partials/modal/image.html" %}
    {% include "partials/modal/image-grid.html" %}
  </div>
  <div class="container">
    {% include "partials/elements/code.html" %}
    {% include "partials/elements/img.html" %}
    {% include "partials/elements/figure.html" %}
  </div>
  <div class="container">
  {% include "partials/media/base.html" %}
  </div>
  #}
{% endblock %}