{% extends "base.html" %}
{% block main %}
  <div class="container">
    {% include "partials/jumbotron.html" %}
  </div>
  <div class="container">
    {% include "partials/popover/toggle.html" %}
    {% include "partials/popover/dismiss.html" %}
  </div>
  <div class="container">
      {% include "partials/breadcrumb.html" %}
  </div>
  <div class="container">
     {% include "partials/carousel.html" %}
  </div>
  <div class="container">
    {% include "partials/card/base.html" %}
  </div>
  <div class="container">
    <p>{% include "partials/clipboard/copy.html" %}</p>
    <p>{% include "partials/clipboard/cut.html" %}</p>
  </div>
  <div class="container">
    {%  include "partials/list/base.html" %}
  </div>
  <div class="container">
    <h3>Tooltips</h3>
    {%  include "partials/tooltip/link.html" %}
    {%  include "partials/tooltip/button.html" %}
    {%  include "partials/tooltip/disabled.html" %}
  </div>
  <div class="container">
    {% include "partials/code-snippet.html" %}
  </div>
{% endblock %}