<h3>Inline code</h3>
<p>Use &lt;code&gt; to wrap inline snippets of code</p>
<p>For example, <code>&lt;section&gt;</code> should be wrapped as inline.</p>

<h3>Block code</h3>
<p>Use &lt;pre&gt; for multiple lines of code.</p>
<p>You may optionally add the .pre-scrollable class, which will set a max-height of 340px and provide a y-axis scrollbar.</p>
<pre><code>&lt;p&gt;Sample text here...&lt;/p&gt;
&lt;p&gt;And another line of sample text here...&lt;/p&gt;
</code></pre>

<h3>Variables</h3>
<p>Use &lt;var&gt;</p>
<p><var>y</var> = <var>m</var><var>x</var> + <var>b</var></p>

<h3>User Keyboard Input</h3>
<p>Use &lt;kbd&gt; to indicate input that is typically entered via keyboard.</p>
<p>To edit settings, press <kbd><kbd>ctrl</kbd> + <kbd>,</kbd></kbd></p>


<h3>Program Output</h3>
<p>Use &lt;samp&gt; to indicate sample output from a program </p>
<p><samp>This text is meant to be treated as sample output from a computer program.</samp></p>