<!-- Documentation and examples for opting images into responsive behavior (so they never become larger than their parent elements)  -->
<h3>responsive image</h3>
<p>Images in Bootstrap are made responsive with .img-fluid class(max-width: 100%; and height: auto;).</p>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12 col-lg-4">
        <img data-src="holder.js/300px400?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" class="img-fluid" alt="">
    </div>
  </div>
</div>


<h3>Image thumbnails border</h3>
<p>use .img-thumbnail to give an image a rounded 1px border appearance.</p>
<img data-src="holder.js/300px400?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" class="img-thumbnail" alt="">


<h3>Image alignment</h3>
<p>Align images with the helper float classes or text alignment classes.</p>
<p>Block-level images can be centered using the .mx-auto margin utility class.</p>
<div class="clearfix w-75">
<img data-src="holder.js/75px100?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" class="float-left" alt="">
<img data-src="holder.js/75px100?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" class="float-right" alt="">
</div>
<div class="text-center">
<img data-src="holder.js/75px100?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="">
</div>
<div class="w-75">
<img data-src="holder.js/75px100?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" class="mx-auto d-block" alt="">
</div>

