{% if navbar.container %}
<!-- add container for navbar to center it on a page -->
<div class="container">
{% endif %}

{% if navbar.position == "top" %}
  <!-- navbar is fixed in window's top -->
  {% set position = "fixed-top" %}
{% elif navbar.position == "bottom" %}
  <!-- navbar is fixed in window's bottom -->
  {% set position = "fixed-bottom" %}
{% else %}
  <!-- navbar is static, add margin-bottom for it -->
  {% set position = "mb-4" %}
{% endif %}
{% if navbar.collapse_breakpoint %}
  <!-- navbar is responsive collapsing -->
  {% set bk_class = ("navbar-expand-" ~ navbar.collapse_breakpoint) %}
{% else %}
  <!-- navbar is always collapsing(never expand) -->
  {% set bk_class = "" %}
{% endif %}

{% set bg_mode_class = (navbar.bg_mode_class if navbar.bg_mode_class else "") %}
{% set bg_color_class = (navbar.bg_color_class if navbar.bg_color_class else "") %}
{% set rd_class = ("rounded" if navbar.rounded else "") %}

<nav class="navbar {{ bk_class }} {{ bg_mode_class }} {{ bg_color_class }} {{ position }} {{ rd_class }}">
      <a class="navbar-brand" href="{{ navbar.brand.link }}">
      {% if navbar.brand.image %}
        <img src="{{ navbar.brand.image.link }}" width="{{ navbar.brand.image.width }}" height="{{ navbar.brand.image.height }}" alt="{{ navbar.brand.image.alt }}" {% if navbar.brand.title %}class="d-inline-block align-top"{% endif %}>
      {% endif %}
      {{ navbar.brand.title }}
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#{{ navbar.id }}" aria-controls="{{ navbar.id }}" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="{{ navbar.id }}">
        <ul class="navbar-nav mr-auto">
        {% for item in navbar['items'] %}
          {% if item.link+"index.html" == URL %}
            {% set active = "active" %}
          {% else %}
            {% set active = "" %}
          {% endif %}
          <li class="nav-item {{ active }}">
            <a class="nav-link" href="{{ item.link }}">{{ item.title }}</a>
          </li>
        {% endfor %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action1</a>
              <a class="dropdown-item" href="#">Action2</a>
              <a class="dropdown-item" href="#">Action3</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
</nav>

{% if navbar.container %}
</div>
{% endif %}